*{
  box-sizing: border-box;
  word-break:keep-all;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  height:100vh;
  background-color: #e0e7ff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}