header{
    display:flex;
    justify-content:right;
    align-items:center;
    width:100%;
    position:fixed;
    top:0;
    background-color: #3AB4F2;
    padding:0.5em;
  }

.todo-body{
    padding-top:5em;
    display:flex;
    height:100%;
    width:100%;

}

.todo-bottom{
    position:fixed;
    bottom:0;
    width:50%;
    padding:1em;
}

.todo-bottom form{
    width:100%;
    display:flex;
    flex-direction:column;
}

.todo-bottom button{
    margin:0.3em;
    width:100%;
    background-color:#3AB4F2;
    border:none;
    color:white;
    font-weight:bold;
    height:50px;
    font-size:18px;
    border-radius:5px;
}

.todo-bottom button:hover{
    opacity:0.8;
}

.todo-list{
    width:50%;
    border-right: 1px solid whitesmoke;
}

.todos{
    width:50%;
}

.item:hover{
    cursor:pointer;
    font-weight:bold;
}

.item{
    display:flex;
    align-items:center;
    height:100%;
    justify-content: space-between;
    padding:8px 32px;
}


.button-group > button{
    border:none;
    background-color:transparent;
    font-size:16px;
    transition: all 50ms ease-in;
}

.button-group > button:hover{
    color:#3AB4F2;
    transform: scale(1.1);
}

.todo-content{
    padding: 0 1em;
    text-align:left;
    display:flex;
    justify-content: space-between;
}